* {
  padding: 0;
  margin: 0;
}

.center {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.error {
  color: #f00;
  text-align: center;
  margin: 0.25em 0;
}